*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* usei as mesmas imagens que me colega por não achar png 
e pelo meu notebook estar travando demais, mal consegui fazer a
tarefa por conta disso (meu notebook é de 2013). DEsculpe. */